:root {
  --clr-primary: #204196;
  --clr-bg: #d1d8eb;
  --clr-win: #37a80a;
  --clr-lose: #fc2864;
  --shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  font-family: "Comfortaa", cursive;
  font-size: 20pt;
  text-align: center;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-primary);
}

#index-main,
#game-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin: 50px;
  text-shadow: var(--shadow);
}

.btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--clr-primary);
  color: #fff;
  padding: 20px 40px;
  margin: 50px;
  border-radius: 10px;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow);
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}

.card {
  font-size: 5rem;
  color: #fff;
  background-color: var(--clr-primary);
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  width: 200px;
  height: 200px;
  line-height: 200px;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: var(--shadow);
}

.paper {
  background-color: var(--clr-win);
}

.scissors {
  background-color: var(--clr-lose);
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  position: relative;
  color: var(--clr-primary);
}

footer a::after {
  content: "GitHub";
  position: absolute;
  top: 2px;
  left: 30px;
  transform-origin: left;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

footer a:hover::after {
  opacity: 1;
}

/* game.html specific */

#game-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside {
  background-color: var(--clr-primary);
  color: #fff;
  width: 30vw;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

aside > div > p:last-child {
  margin: 30px 0;
}

#score,
#round {
  font-weight: bold;
}

#game-main {
  min-width: 70vw;
}

.game-title {
  margin: 10px;
}

.game-cards {
  margin: 10px;
}
